<p>HTML tags are not allowed; however, we do support Markdown syntax.</p>
<h3>Quick Reference:</h3>
<div class="quick-reference">
    <p><strong>Paragraphs: </strong> Add a space after the sentence where the paragraph should end.</p>
    <p><strong>Lists: </strong> <br>
    <em>Unordered: </em> <br>* Item <br> *Item
    <br>
    <em>Ordered: </em><br> 1. Item<br> 2. Item</p>
    <p><strong>Bold and Italics: </strong> <br>**Bold** <br> _Italic_</p>
    <p><strong>Headings: </strong> <br># H1 <br> ## H2</p>
    <p><strong>Code: </strong> ``` (three backticks)</p>
    <p><strong>Links: </strong> [Link Text](www.google.com)</p>
</div>
<p><a href="https://help.github.com/articles/markdown-basics/" target="_blank">See this MarkDown cheet sheet for more information</a></p>