<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="/#projects/{{ id }}">{{ name }}</a></h3>
        </div>
        <div class="panel-body">
            <p>Updated: {{formatDate modified_date "dateOnly"}}</p>
        </div>
    </div>
</div>
