<div class="row">
    <div class="col-sm-1">
    {{#if administrator}}
        <a class="btn btn-lg btn-default btn-new" href="#new/project"><span class="glyphicon glyphicon-plus"></span></a>
        <hr>
        <a class="" href="#inactive/projects">Inactive Projects</a>
    {{/if}}
    </div>
    <div class="col col-sm-11">
        <div class="row" id="projects-wrap"></div>
    </div>
</div>