<div class="row error-wrap">
<br>
<div class="col-sm-3">
    <div class="glyphicon glyphicon-exclamation-sign"></div>
    </div>
<div class="col-sm-6">
    <div class="error-box">
        <h3>{{ message }}</h3>
    </div>
</div>
<div class="col-sm-3">
    <div class="glyphicon glyphicon-exclamation-sign"></div>
</div>