<VirtualHost *:80>
    ServerName {{ item.server_name }}

    ServerAdmin webmaster@localhost
    DocumentRoot {{ item.document_root }}

    <Directory {{ item.document_root }}/>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet